.user-select-none {
  user-select: none
}

.white-space-normal {
  white-space: normal!important;
}

.text-shadow-none {
  text-shadow: none!important;
}

.blur-10 {
  filter: blur(10px); /* 设置模糊效果 */
}

.brightness-5 {
  filter: brightness(0.5)
}

.border-radius-50 {
  border-radius: 50%
}

.opacity-2 {
  opacity: 0.2
}

.cursor-pointer {
  cursor: pointer;
}

.online-blue {
  color: #23ade5;
}

.online-orange {
  color: #ffba4b;
}

.online-red {
  color: #f56c6c;
}

.online-yellow {
  color: #e6a23c;
}

.online-green {
  color: #67c23a;
}

.online-gray {
  color: #909399;
}